/* Resetando margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    color: #fdfdfd;
    background: url('https://i.gifer.com/1kc1.gif') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Opacidade escura */
    z-index: 1;
}

.content {
    position: relative;
    z-index: 2;
    text-transform: uppercase;
    color: #ffffff; /* Estilo hacker verde */
    margin-bottom: 40px; /* Espaçamento entre o título e o botão */
}

.title {
    font-size: 4rem;
    margin-bottom: 20px;
    text-shadow: 0 0 10px #ffffff;
}



/* Estilo hacker e glitch */
body::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background: url('https://i.gifer.com/1kc1.gif') no-repeat center center fixed;
    background-size: cover;
    opacity: 0.3;
    filter: contrast(200%);
    z-index: 0;
    animation: glitch 1s infinite;
}

@keyframes glitch {
    0% {
        clip-path: inset(5% 0 5% 0);
    }
    20% {
        clip-path: inset(20% 0 0 0);
    }
    40% {
        clip-path: inset(5% 5% 10% 5%);
    }
    60% {
        clip-path: inset(10% 10% 0 10%);
    }
    80% {
        clip-path: inset(0 5% 5% 0);
    }
    100% {
        clip-path: inset(5% 5% 0 5%);
    }
}
.info-section {
    position: relative;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5); /* Fundo escuro com opacidade */
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
    color: #ffffff; /* Estilo hacker verde */
    text-align: left;
    max-height: 300px; /* Altura fixa para rolagem */
    overflow-y: auto; /* Adiciona barra de rolagem vertical */
}

/* Estilo dos parágrafos */
.info-text {
    font-size: 1rem;
    line-height: 1.5;
    text-shadow: 0 0 3px #212221;
}

.info-title {
    font-size: 2rem;
    margin-bottom: 10px;
    text-shadow: 0 0 5px #212221;
}

/* Estilo do novo bloco de informações */
.anti-section {
    display: none;
    position: relative;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5); /* Fundo escuro com opacidade */
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
    color: #ffffff; /* Estilo hacker verde */
    text-align: left;
    /* Inicialmente escondido */
}

/* Animação de opacidade */
.fade-out {
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Animação de "quicar" */
.bounce-in {
    animation: bounceIn 1s;
}

@keyframes bounceIn {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    50% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Estilo da nova seção */
.vpn-secao {
    display: none;
    position: relative;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5); /* Fundo escuro com opacidade */
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
    color: #ffffff; /* Estilo hacker verde */
    text-align: left;
}


/* Estilo dos botões */
.button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.5rem;
    color: #ffffff;
    text-decoration: none;
    border: 2px solid #353535;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    margin: 10px;
}

.button:hover {
    background-color: #ffffff;
    color: #000;
    text-shadow: none;
    transition: 0.3s ease;
}


/* Área de rolagem */
.scrollable-content {
    max-height: 400px; /* Ajuste a altura máxima conforme necessário */
    overflow-y: auto; /* Adiciona rolagem vertical */
    padding-right: 15px; /* Adiciona espaço para a barra de rolagem */
}

/* Estilo da nova seção */
.extensoes-section {
    display: none;
    position: relative;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5); /* Fundo escuro com opacidade */
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
    color: #ffffff; /* Estilo hacker verde */
    text-align: left;
}

.MV-section {
    display: none;
    position: relative;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5); /* Fundo escuro com opacidade */
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
    color: #ffffff; /* Estilo hacker verde */
    text-align: left;
}

.PS-section {
    display: none;
    position: relative;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5); /* Fundo escuro com opacidade */
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
    color: #ffffff; /* Estilo hacker verde */
    text-align: left;
}

.EV-section {
    display: none;
    position: relative;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5); /* Fundo escuro com opacidade */
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
    color: #ffffff; /* Estilo hacker verde */
    text-align: left;
}

.Stalkers-section {
    display: none;
    position: relative;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5); /* Fundo escuro com opacidade */
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
    color: #ffffff; /* Estilo hacker verde */
    text-align: left;
}

.Hackers-section {
    display: none;
    position: relative;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5); /* Fundo escuro com opacidade */
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
    color: #ffffff; /* Estilo hacker verde */
    text-align: left;
}

.Conclusao-section {
    display: none;
    position: relative;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5); /* Fundo escuro com opacidade */
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
    color: #f3f3f3; /* Estilo hacker verde */
    text-align: left;
}